/* Reseteo todas las medidas para tener mayor control */
body {
  margin: 0;
  padding: 0;
}

header {
  color: #242e52;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
header nav {
  display: inline-block;

  margin: 28px;
}
.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.45;
}
.esconder-menu {
  order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: rgb(143, 148, 167);
}
/* Responsive */

@media (max-width: 375px) {
  /* Header */
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: grey;
    left: 0;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    /*right: -100%;*/
    z-index: 100;
    transition: 0.8;
  }
}
.menu a {
  text-decoration: none;
  color: #242e52;
  padding: 0 10px;
  transition: 0.45;
  display: block;
  padding: 20px;
}

.esconder-menu {
  position: absolute;
  top: 20px;
  right: 40px;
}
#check:checked ~ .menu {
  right: 0px;
}
