/* Configuro la fuente solicitada en estilos, que tuve que bajar porque el enlace no funcionaba */
@font-face {
  font-family: Be_Vietnam_Pro;
  src: url("./diseño/Be_Vietnam_Pro");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reseteo todas las medidas para tener mayor control */

body {
  font-family: Be_Vietnam_Pro;

  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
}

header {
  height: 100px;
  color: #242e52;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 3.12rem;
  align-items: center;
  position: sticky;
  top: 0;
  /* max-width: 1440; */
}

main .parrafos {
  margin-top: 2.5 rem;
  margin-left: 1.5 rem;
  background-color: #f18a70;
  padding: 5rem;
}

a {
  text-decoration: none;
  color: #242e52;
  padding: 0 0.62rem;
  transition: 0.45;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.45;
}
.mostrar-menu {
  order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: rgb(143, 148, 167);
}
#check {
  display: none;
}

.botton {
  text-decoration: none;
  color: white;
  background: #f3603b;
  border-radius: 50px;
  padding: 10px 30px;
  /* position: fixed; */
}
.botton:hover {
  background-color: #f18a70;
}

main {
  max-width: 1440;
}

main .botton {
  display: inline-block;
  justify-content: space-around;
  margin-top: 2rem;
}

h2 {
  color: #232c50;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.12rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 114.6%;
  /* or 41px */

  display: flex;
  align-items: center;

  color: #232851;
}

.parrafos h3 {
  font-weight: 700;
  font-size: 2.45rem;
  line-height: 156.6%;
  margin-bottom: 4rem;
  /* or 61px */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #242e53;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 157.1%;

  display: flex;
  align-items: center;

  color: #000000;
}

.parrafos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 80px;
  background-color: white;
}
.contenedores {
  max-width: 1440;
  width: 30vw;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  background: white;
  width: 27.81rem;
  height: 13.68rem;
  padding-bottom: 5rem;
  /* border-radius: 15px; */
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;

  text-align: center;
  background: #fafafa;

  font-style: normal;
  line-height: 156.6%;
  font-weight: 500;
  color: #b9b9c1;
}
.card h4 {
  margin-top: 3.53rem;
  margin-bottom: 1.31rem;
}

.card-image img {
  max-width: 4.4rem;
  max-height: 4.4rem;
  margin-top: 40%;
}

#preFooter {
  margin-top: 5rem;
  height: 224px;
  width: 100%;

  background: #f3613c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
#preFooter .botton {
  background-color: white;
  color: #f3613c;
}

footer {
  height: 15.43rem;
  left: 0px;
  padding-left: 10rem;
  padding: 3.2rem 10rem;

  background-color: #1e1e26;
}

footer section {
  width: 25%;
}

footer .contenedores {
  justify-content: space-between;
}

#f1 {
  display: flex;
  flex-direction: column;
}

#iconos i {
  margin-right: 0.4rem;
}

footer .contenedores li {
  margin-bottom: 1.2rem;
}

form button {
  color: white;
  background-color: #f3603b;
  text-decoration: none;
  color: white;
  background: #f3603b;
  border-radius: 50px;
  padding: 10px 15px;
}
button:hover {
  background-color: #f18a70;
}

form input {
  border-radius: 3.2rem;
  padding: 0.65rem 1rem;
  margin-right: 1rem;
}

form {
  display: flex;
  align-items: center;
}

.parrafos h3 {
  height: 50px;
}

.contenedores li {
  list-style: none;
}

/* Responsive */
@media (max-width: 375px) {
  /* Header */
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: grey;

    top: 0;
    text-align: center;
    padding: 100px 0px;
    right: -100%;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a {
    display: block;
    padding: 20px;
    color: white;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #desapBoton {
    display: none;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  header section a {
    display: none;
  }
  .parrafos {
    flex-direction: column-reverse;
  }
  .contenedores {
    width: 100%;
    justify-content: center;
  }
}
